<!--<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-3 rounded-bottom">
  <div class ="container">
    <div class="navbar-nav">
      <%= link_to "Store", items_url, method: "get", :class=>"nav-item nav-link"%>
      <%= link_to "Wishlists (#{@wc})", wishlists_url, method: "get", :class=>"nav-item nav-link"%>
      <%= link_to "Cart (#{@cc})", carts_url, method: "get", :class=>"nav-item nav-link"%>
      <%= link_to "Orders (#{@oc})", orders_url, method: "get", :class=>"nav-item nav-link" %>
      <%= link_to "Items Returned", return_items_url(:status_id => 1), method: "get", :class=>"nav-item nav-link"%>
      <%= link_to "Rejected Special Requests", special_items_url(:status_id => 2), method: "get", :class=>"nav-item nav-link"%>
      <% if current_user.is_admin == true %>
      <%= link_to "Return Requests", return_items_url(:status_id => 0), method: "get", :class=>"nav-item nav-link" %>
      <%= link_to "Special Requests", special_items_url(:status_id => 0), method: "get", :class=>"nav-item nav-link"%>
      <% end %>
    </div>
  </div>
</nav>-->
<% if @return_items %>
  <table class = "table table-hover">
    <thead>
      <tr>
        <% if current_user.is_admin %>
          <th>User</th>
        <% end %>
        <th>Item</th>
        <th>tid</th>
        <th>Quantity</th>
        <th>Refund</th>
        <% if current_user.is_admin %>
          <th colspan="3" style="text-align:center">Actions</th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @return_items.each do |return_item| %>
        <tr>
          <% if current_user.is_admin %>
            <td><%= User.where(:id => return_item.returnuserId).last.email %></td>
          <% end %>
          <td><%= Item.where(:id => return_item.returnItemid).select("name").last.name  %></td>
          <td><%= return_item.returnTransactionId %></td>
          <td><%= return_item.returnQuantity %></td>
          <td><%= return_item.refundAmount %></td>
          <!--<td><%= link_to 'Show', return_item %></td>
          <td><%#= link_to 'Edit', edit_return_item_path(return_item) %></td>-->
          <% if return_item.returnStatus == 0 %>
            <% if current_user.is_admin %>
              <td></td>
              <td><%= link_to 'Approve', returnrequestprocess_url(:is_approved => "yes", :item_id => return_item.returnItemid, :user_id => return_item.returnuserId, :tid => return_item.returnTransactionId), :method => "get", :class => "btn btn-outline-primary" %></td>
              <td><%= link_to 'Reject', returnrequestprocess_url(:is_approved => "no", :item_id => return_item.returnItemid, :user_id => return_item.returnuserId, :tid => return_item.returnTransactionId), :method => "get", :class => "btn btn-outline-danger" %></td>
            <% end %>
          <% elsif current_user.is_admin %>
            <td colspan = "2" style = "text-align:center">None</td>
          <% end %>
          <!--<td><%#= link_to 'Destroy', return_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
        </tr>
      <% end %>
    </tbody>
  </table>
<% else%>
  <h3>The list is empty.</h3>
<% end %>

<%= link_to 'Back', items_path , :class => "btn btn-primary"%>